.profile-container {
  
    width: 50%;
    height:50%;
    background-color:rgb(219, 224, 228);
    padding: 3%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;

}
span{
    margin-top:2%;
    align-items: center;
}
.contact{
    width:50%;
}