header{
    /* height: 20%; */
    background-color: lightblue;
    color: black;
    width: 100%;
    text-align: center;
    /* display: flex; */
}

img{
    height: 5%;
    width: 5%;
    float: left;
}
.logout{
    float: right;
    height: 100%;
    padding: 1%;
    /* background-image: url(); */
}