.score, .graph{
    margin: 5px;
    border-radius: 5px;
    height: 350px;
    background-color: #09015F;
}
#scoreContainer{
    margin-left: 6%;
    margin-top:6%;
    height: 250px; 
    width: 90%; 
    background-color: aqua;
    border-radius: 5px;
}
.result div h3{
    color: #FFD700;
    text-align: center;
}
.chart{
    margin-top:16px;
    color:rgb(29, 27, 27);
    font-size:9px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-decoration:none;
}
.questions div{
    margin: 5px;
    border-radius: 5px;
    height: 350px;
    background-color:dddddd;
}