html,body{
    width: 100%;
    height: 100%;  
    overflow: hidden; 
}

.header{
  height: 8%; 
  background-color: lightblue;
  color: black;
  width: 100%;
  text-align: center;
  /* display: flex; */
}
.dashboard{
  width: 80%;
}
.logo{
  /* margin: 1% 1% 0% 1%; */
  padding-top: 0.5%;
  padding-left: 1%;
  height: 90%;
  width: 5%;
  float: left;
}

.logout{
  float: right;
  height: 80%;
  margin-top: 0.5%;
  margin-right: 0.5%;
  max-width: 5%;
  /* background-image: url(); */
}
.navbar{
    /*background-color: #bdbdbd;*/
    height: 100%;
    float: left;
    width: 15%;
   
}


.nav-item{
    width: 75%;
    margin-top: 5%;
    padding: 10%;
    height: 50%;
    font-size: large;
   
}

.nav-item:hover{
    /* background-color:aquamarine ; */
    width: 100%;
    
}

button{
    /* background-color: #616161; */
   
    border-radius: 25%;
   
    /* color: #e0e1dd; */
    width: 100%;
}



section
{
    /* background-color:#bdbdbd; */
    color: #616161;
    width: 85%;
    float: left;
    height: 100%;
    overflow-y: scroll; 
   

}
::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: #e0e1dd;
}

.container-fluid{
    width: 100%;
}

.card{
    margin: 5%;
}

.card-img-top{
  width: 50%;
  height: 50%;
}

/* theme */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:gray;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px gray;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
.footer {
  position: fixed;
  height: 8%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  color: white;
  text-align: center;
}
.logout{
  height: 80%;
  padding: 0.5%;
} 
.footer-content{
  color: black;
  margin:2%;
}
